{% extends 'base.html' %}

{% block left_content %}
    <div class="card card-white grid-margin">
        <div class="card-heading clearfix">
            <h4 class="card-title"><a href="{{ url_for('index') }}">Главная</a></h4>
        </div>
        <div class="card-heading clearfix">
            <h4 class="card-title"><a href="">#поиск</a></h4>
        </div>
        <div class="card-heading clearfix">
            <h4 class="card-title"><a href="{{ url_for('user', userlogin=current_user.login) }}">Мой профиль</a></h4>
        </div>
    </div>
{% endblock left_content %}
            
            