{% extends 'base.html' %}

{% block content_left %}
<div class="container gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    {% for con in content_left %}
                        <div class="h5"><a class="h5 m-0" href="">#{{ con }}</a></div>
                    {% endfor %}
                    <!-- <div class="h7 text-muted"><a class="h7 text-muted" href="{{ url_for('logout') }}">Выйти</a></div> -->
                </div>
                    
            </div>
        </div>
{% endblock content_left %}

            
            