{% extends "base.html" %}

{% block left_content %}
{% endblock left_content %}

{% block center_content %}
<div class="card card-white grid-margin">
    <h1>Вход</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
            {{ form.login(size=32, class='form-control') }}<br>
            {{ form.password(size=32, class='form-control') }}<br>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Вы еще не зарегистрированы? | <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
</div>
 {% endblock %}