{% extends 'base.html' %}

{% block content_left %}
<div class="container gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">{{ userprofile.first_name }} {{ userprofile.last_name }}</div>
                    <div class="h7 text-muted">{{userprofile.login}}</div>
                    <div class="h7">{{ userprofile.city }}
                    </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Подписчики</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Подписки</div>
                            <div class="h5">6758</div>
                        </li>
                        <li class="list-group-item">Статус</li>
                    </ul>
                </div>
            </div>
{% endblock content_left %}

            